@model IEnumerable<CafeComFormacao.Models.Evento>

@{
    ViewBag.MostrarCabecalho = false;
}

<div class="container-fluid">
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.NomeDoEvento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.DataDoEvento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.HoraDoEvento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ValorDoEvento)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Evento evento in Model)
            {
                <tr>
                    <td>@evento.NomeDoEvento</td>
                    <td>@evento.DataDoEvento.ToString("dd/MM/yyyy")</td>
                    <td>@evento.HoraDoEvento</td>
                    <td>@evento.ValorDoEvento</td>
                </tr>
            }
        </tbody>
    </table>
</div>
