@{

    ViewBag.MostrarCabecalho = false;

    ViewData["Title"] = "Inscritos";
    var eventos = ViewData["Evento"] as IEnumerable<Evento>;
    var usuarioEvento = ViewData["UsuarioEvento"] as IEnumerable<UsuarioEvento>;
    var ParticipantesPorEvento = ViewData["ParticipantesPorEvento"] as List<List<Participante>>;

    Evento eventoEmQuestao = new();
}

<div class="table-responsive">
    @foreach (List<Participante> listaParticipantes in ParticipantesPorEvento)
    {

        eventoEmQuestao = (from evento in eventos
                           join usuariosEvento in usuarioEvento on evento.Id equals usuariosEvento.EventoId
                           where listaParticipantes[0].Id == usuariosEvento.ParticipanteId
                           select evento).Distinct().FirstOrDefault();

        //eventoEmQuestao = eventos.Where(evento => usuarioEvento.Any(ue => ue.ParticipanteId == listaParticipantes[0].Id && ue.EventoId == evento.Id)).LastOrDefault();

        <div class="container-fluid mt-5 border border-warning">
            <h1>@eventoEmQuestao.NomeDoEvento</h1>
            <p class="fs-5">@eventoEmQuestao.DataDoEvento.ToString("dddd"), @eventoEmQuestao.DataDoEvento.ToString("dd") de @eventoEmQuestao.DataDoEvento.ToString("MMMM") de @eventoEmQuestao.DataDoEvento.ToString("yyyy") às @eventoEmQuestao.HoraDoEvento </p>
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Participante participante in listaParticipantes)
                    {
                        <tr>
                            <td>@participante.Nome</td>
                            <td>@participante.Email</td>
                            <td>@participante.Celular</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>