@{
    ViewBag.MostrarCabecalho = false;

    ViewData["Title"] = "Inscritos";

    var ParticipantesPorEvento = ViewData["ParticipantesPorEvento"] as Dictionary<Evento, List<Participante>>;
}

<div class="table-responsive">
    @foreach (KeyValuePair <Evento, List <Participante>> IdEventoParticipante in ParticipantesPorEvento)
    {
        Evento eventoEmQuestao = IdEventoParticipante.Key;
        List<Participante> listaParticipantes = IdEventoParticipante.Value;

        <div class="container-fluid mt-5 border border-warning">
            <h1>@eventoEmQuestao.NomeDoEvento</h1>
            <p class="fs-5">@eventoEmQuestao.DataDoEvento.ToString("dddd"), @eventoEmQuestao.DataDoEvento.ToString("dd") de @eventoEmQuestao.DataDoEvento.ToString("MMMM") de @eventoEmQuestao.DataDoEvento.ToString("yyyy") às @eventoEmQuestao.HoraDoEvento </p>
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Participante participante in listaParticipantes)
                    {
                        <tr>
                            <td>@participante.Nome</td>
                            <td>@participante.Email</td>
                            <td>@participante.Celular</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>