@{
    ViewBag.MostrarCabecalho = false;

    ViewData["Title"] = "Inscritos";
}

<div class="table-responsive">
    @foreach (ViewsModels  viewModel in Model)
    {
        <div class="container-fluid mt-5 border border-warning">
            <h1>@viewModel.Evento.NomeDoEvento</h1>
            <p class="fs-5">@viewModel.Evento.DataDoEvento.ToString("dddd"), @viewModel.Evento.DataDoEvento.ToString("dd") de @viewModel.Evento.DataDoEvento.ToString("MMMM") de @viewModel.Evento.DataDoEvento.ToString("yyyy") às @viewModel.Evento.HoraDoEvento </p>
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Pagamento da Inscrição</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Participante participante in viewModel.ListaDeParticipantes)
                    {
                        <tr>
                            <td>@participante.Nome</td>
                            <td>@participante.Email</td>
                            <td>@participante.Celular</td>
                            <td>@viewModel.StatusPagamento</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>