@model CafeComFormacao.Models.ViewsModels

@{
    ViewData["Title"] = "Palestrantes";
    ViewBag.MostrarCabecalho = false;
}


<div class="mx-auto mt-5" style="height: 300px;">
    <div>
        <form asp-controller="Palestrante" asp-action="CadastrarPalestranteNoEvento" method="post">
            @Html.AntiForgeryToken()
            <select class="form-control custom-select multiple" name="eventoId">
                <option value="" disabled selected hidden>Selecione um evento</option>
                @foreach (Evento evento in Model.ListaDeEventos)
                {
                    <option value="@evento.Id">@Html.DisplayFor(x => evento.NomeDoEvento)</option>
                }
            </select>
            <select class="form-control custom-select multiple mt-3" name="palestranteId">
                <option value="" disabled selected hidden>Selecione um palestrante</option>
                @foreach (Palestrante palestrante in Model.ListaPalestrante)
                {
                    <option value="@palestrante.Id">@Html.DisplayFor(x => palestrante.Nome)</option>
                }
            </select>
            <button id="botaoEnviar" type="submit" class="btn btn-success mt-3">Adicionar</button>
        </form>
    </div>
</div>

